@{
    ViewBag.Title = "About band";
}

<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="~/Home">KAVёr</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#womenvocal">Женский вокал</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#manvocal">Мужской вокал</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#keysvocal">Клавишник</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#bass">Басист</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#rythmguitar">Ритм-гитарист</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#sologuitar">Соло-гитарист</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#drummer">Барабанщик</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#others">Друзья</a>
    </li> 
  </ul>
</nav>
    
<!-- About -->
<section>
  <div class="container" id="womenvocal">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="~/Contents/img/womenvocal.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Ксения Кораблина</h2>
          <p>Жемчужина нашей группы. Бесподобный тембр, сильный голос, непревзойдённые чувство юмора и харизма поразят ваше воображение.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" id="manvocal">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="~/Contents/img/manvocal.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Сергей Васильев</h2>
          <p>Брутальный бородатый вокалист своим тенером заставит трепетать ваши уши.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" id="keysvocal">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="~/Contents/img/keysvocal.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Дмитрий Латохин</h2>
          <p>Джазовые импровизации при любом удобном случае и желание постоянно общаться баритоном помогут вам по-настоящему расслабиться.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" id="bass">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="~/Contents/img/bass.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Сергей Сидоров</h2>
          <p>Обоятельный, яркий и драйвовый, с элементами роскоши басс проникнет глубоко в ваши тела.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>